.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
  margin-top: 2rem;
  &__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 22px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.212);

    &:focus {
      box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }

  &__submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: rgba(215, 108, 215, 0.777);
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.198);
    cursor: pointer;

    &:hover {
      background-color: rgb(215, 108, 215);
    }
    &:active {
      transform: scale(0.8);
      box-shadow: 0 0 5px black;
    }
  }
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 1.5rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: white;
    padding: 0.7rem;

    &--text {
      outline: none;
      width: inherit;
    }

    &--data {
      flex: 1;
      padding: 5px;
      border: none;
      font-size: 20px;

      &:focus {
        outline: none;
      }
    }

    .icon {
      margin-left: 10px;
      font-size: 25px;
      cursor: pointer;
      color: rgba(108, 26, 203, 255);
    }
  }
}

@media (max-width: 1200px) {
  .todos__single {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .todos__item {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .input {
    width: 70%;
  }
  .todos {
    width: 70%;
  }
}
