@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(215, 108, 215, 0.777);
  min-height: 100vh;

  &__logo img {
    margin-top: 3rem;
  }
}
